@media (max-width:1400px) {
    html {
        font-size: 16px;
    }

    .nav-drop-down .col-7 {
        flex: 0 0 66.6667% !important;
        max-width: 66.6667% !important;
    }
}

@media (max-width: 1300px) {

    .nav-two-main {
        width: 100%;
        height: 44px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .nav-one-bg {
        width: 90%;
        height: 100%;
        margin: auto;
        border-bottom: 30px solid #838282;
        border-left: 25px solid transparent;
        position: relative;
    }

    .nav-one-bg-hide {
        width: 0%;
        border-bottom: 34px solid white;
        border-left: 25px solid transparent;
        position: absolute;
        top: 0%;
        right: -2px;
        z-index: 1;
    }

    .nav-two-bg {
        width: 91%;
        height: 100%;
        margin: auto;
        border-bottom: 44px solid #414141;
        border-left: 30px solid transparent;
    }

    .nav-two-bg-hide {
        width: 0%;
        border-bottom: 44px solid white;
        border-left: 25px solid transparent;
        position: absolute;
        top: 0px;
        right: 4.5%;
        z-index: 1;
    }

    .nav-drop-down .col-7 {
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

    .caro-container {
        height: 572px;
    }

    .overlay-iframe {
        width: 700px;
        height: 460px;
    }

}

@media (max-width:1200px) {
    html {
        font-size: 14px;
    }

    .inno-frame-cont {
        width: 100%;
        height: 100%;
        padding-left: 0rem;
    }

    .caro-container {
        height: 532px;
    }

    .details-cell-img {
        width: 55px;
        height: 55px;
    }

    .details-con-one {
        font-size: 1.8rem;
    }

    .inno-para {
        width: 100%;
        height: 100%;
        text-align: justify;
    }

    .cons-title-para {
        text-align: justify;
    }

    #news {
        padding: 0rem 0rem 4.75rem 0rem;
    }

    .news-card {
        width: 100%;
    }

    .news-card-title {
        font-size: 1.05rem;
        font-weight: 500;
        text-align: center;
        font-family: "Poppins", sans-serif;
        line-height: 28px;
        color: #000000;
    }

    .news-card-para {
        line-height: 23px;
    }

    .row.row-cols-5>.col {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .row.row-cols-5 {
        justify-content: center;
    }

    .banner-details {
        width: 100%;
        height: 100%;
    }

    .details-cells {
        width: 218px;
        height: 90px;
    }

    .cons-title {
        font-weight: 600;
    }

}

@media (max-width: 1100px) {

    .nav-drop-down .col-7 {
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }

}

/* @media only screen and (max-width: 768px) */

@media (max-width: 1000px) {

    html {
        font-size: 14px;
    }

    .sect-main {
        display: none;
    }

    .nav-both-container {
        display: none;
    }

    .nav-client-div-1000 {
        display: block;
        padding: 0.7rem 0rem 0rem 0rem;
    }

    .nav-menu-1000 {
        padding: 1.55rem 0rem 0rem;
    }

    .nav-client-div {
        display: none;
    }

    .menu-1000-flex {
        display: block;
    }

    #banner {
        padding-top: 4.3rem;
    }

    .caro-container {
        height: 422px;
    }

    .cons-container {
        height: 324px;
    }

    .con-img-item>a {
        width: 700px;
        height: 324px;
    }

    .con-img-item2>a {
        width: 700px;
        height: 324px;
    }

    .inno-frame-cont {
        width: 100%;
        height: 350px;
    }

    .news-card-title {
        font-size: 1.01rem;
    }

    .news-card-para {
        text-align: justify;
    }

    .cons-title-main {
        padding: 6rem 0rem 2rem;
    }

    #cons-title-main {
        padding: 6rem 0rem 2rem;
    }

    .inno-para {
        margin: 0rem;
        font-size: 1rem;
    }

    .inno-title {
        font-size: 2rem;
    }

    .cons-title {
        font-size: 2.5rem;
    }

    .cons-ul-img {
        width: 100%;
        object-fit: cover;
    }

    .cons-ul-img2 {
        width: 100%;
        object-fit: cover;
    }

    .inno-padd {
        padding: 4.25rem 0rem;
    }

    .inno-main .container {
        max-width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    #nav {
        height: 60px;
    }

    .swiper {
        height: 500px !important;
    }

    .swiper-overlay-item {
        width: 85%;
        height: 80%;
        text-align: center;
        justify-self: center;
    }

    .overlay-iframe {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        max-width: 100% !important;
        height: 100% !important;
    }

    .swiper-img {
        width: 90% !important;
        height: 100% !important;
    }

    .swiper-iframe {
        width: 100%;
        height: 80%;
    }

    .swiper-wrapper {
        width: 100% !important;
        height: 100% !important;
    }


    .caro-scroll {
        display: none;
    }

    .menu-1000-bg {
        padding: 4% 4% 0%;
    }

    .bg-1000-name {
        font-size: 1.2rem;
    }

    .bg-1000-ul1 {
        line-height: 30px;
    }

    .menu-cross {
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
    }

    .bg-js-name {
        font-size: 1rem;
    }

    .menu-bg-js {
        line-height: 30px;
    }

    /* contact us */

    #cont-form .container {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #iframe-one .container {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #iframe-two .container {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}


@media (max-width: 900px) {

    #footer .col-3 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    #footer .col-11 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #customer {
        padding: 5rem 0rem 2.5rem;
    }

    #news {
        padding: 3.7rem 0rem 4.3rem;
    }

}

/* contact us */

@media (max-width: 840px) {

    .cont-form-title {
        font-size: 2.1rem;
    }

    label {
        padding: 0rem;
    }

    .box-img {
        width: 160px;
    }

    .box-title {
        font-size: 1.5rem;
        padding: 1rem 0rem 0.5rem;
    }

    .box-con-one {
        line-height: 20px;
    }

    .box-con-two {
        line-height: 20px;
    }

    .box-follow {
        font-size: 0.9rem;
        margin: 0.6rem 0rem 0.3rem 0rem;
    }

    .box-icon-main {
        gap: 10px;
    }

    .form-btn {
        padding: 0.5rem 4rem;
    }

    .iframe-img-two {
        height: 100%;
    }

    .iframe-img-one {
        height: 100%;
    }

    .plant2-comp-name {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .plant2-comp-address {
        line-height: 18px;
        font-size: 0.8rem;
    }

    .plant2-comp-cont {
        line-height: 18px;
        font-size: 0.8rem;
    }

    .map-comp-name {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .map-comp-address {
        font-size: 0.8rem;
        line-height: 18px;
        margin-bottom: 1rem;
    }

    .map-comp-cont {
        font-size: 0.8rem;
        line-height: 18px;
    }


}

/* contact us */

@media (max-width: 770px) {

    html {
        font-size: 14px;
    }

    .nav-logo-div {
        padding: 1.5rem 0rem 0rem 0rem;
    }

    .banner-details {
        display: none;
    }

    .caro-container {
        height: 322px;
    }

    .cons-title-para {
        line-height: 24px;
        font-size: 1.2rem;
    }

    .cons-title-main {
        padding: 4.25rem 0rem 2rem;
    }

    #cons-title-main {
        padding: 4.25rem 0rem 2em;
    }

    .cons-title-item .container {
        max-width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .cons-title-main .container {
        max-width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .cons-title {
        font-size: 2.2rem;
    }

    .inno-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .inno-para {
        line-height: 22px;
    }

    .inno-frame-cont {
        height: 100%;
    }

    .inno-tube {
        height: 100%;
    }

    .inno-btn {
        padding: 0.7rem 1rem;
    }

    .cons-container {
        display: none;
    }

    .cons-ul-main {
        display: none;
    }

    .cons-caro-main {
        display: block;
    }

    .swiper-iframe {
        width: 380px;
        height: 450px;
    }

    .swiper-img {
        width: 80% !important;
        height: 93% !important;
    }

    .swiper-overlay-item {
        width: 80%;
        height: 70%;
        text-align: center;
        justify-self: center;
    }

    #news {
        padding: 1.4rem 0rem;
    }

    .news-cal-img {
        width: 25px !important;
        height: 25px;
    }

    .news-title {
        margin: 0rem 0rem 0.8rem 0rem;
    }

    .caro-container {
        height: 300px;
    }

    .menu-1000-bg {
        padding: 4% 4% 0%;
    }

    .bg-1000-name {
        font-size: 1.1rem;
    }

    .bg-1000-ul1 {
        line-height: 27px;
    }

    .menu-cross {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .bg-js-name {
        font-size: 0.8rem;
    }

    .menu-bg-js {
        line-height: 24px;
    }

    .caro-change-ul>li {
        width: 14px;
        height: 14px;
    }

}

/* contact us */

@media (max-width: 720px) {


    #cont-form .col-7,
    #cont-form .col-5 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #cont-form .col-5 {
        margin-top: 3rem;
    }

    #cont-form .col-9 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .cont-box-main {
        padding: 3rem;
    }

    .box-img {
        width: 200px;
        height: 100%;
    }

    .box-title {
        font-size: 1.6rem;
        line-height: 28px;
        font-weight: 600;
    }

    .box-con-one {
        width: 55%;
        font-size: 1.2rem;
        line-height: 24px;
        margin-bottom: 0.8rem;
    }

    .box-con-two {
        font-size: 1.2rem;
        line-height: 24px;
    }

    .box-follow {
        font-size: 1.3rem;
        margin: 0.9rem 0rem 0.3rem 0rem;
    }

    .box-follow-con {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .box-icons {
        font-size: 1.6rem;
    }

    #iframe-one .col-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .iframe-img-one {
        height: 280px;
    }

    #iframe-one .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-top: 2rem;
    }

    .plant2-title {
        color: white;
        font-size: 1.35rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
    }

    .plant2-comp-name{
        font-size: 1.7rem;
    }

    .plant2-comp-address{
        font-size: 1.2rem;
        line-height: 24px;
    }

    .plant2-comp-cont{
        font-size: 1.2rem;
        line-height: 24px;
    }

    #iframe-two .col-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #iframe-two .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-top: 2rem;
    }

    .iframe-img-two {
        height: 280px;
    }

    .map-comp-title {
        font-size: 1.35rem;
        margin-bottom: 0.7rem;
    }

    .map-comp-name {
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 0.7rem;
    }

    .map-comp-address {
        font-size: 1.2rem;
        width: 47%;
        line-height: 22px;
    }

    .map-comp-cont {
        font-size: 1.2rem;
        line-height: 22px;
    }

    #iframe-two {
        width: 100%;
        padding: 3.13rem 0rem 1.5rem;
    }

    #cont-banner {
        padding: 5rem 0rem 3rem;
    }

}

/* contact us */



@media (max-width: 600px) {

    .menu-1000-flex-tit {
        display: none;
    }

    #nav .col-2,
    #nav .col-8 {
        flex: 0 0 41.6667% !important;
        max-width: 41.6667% !important;
    }

    #nav .col-2:last-child {
        flex: 0 0 16.6667% !important;
        max-width: 16.6667% !important;
    }

    .nav-logo-div {
        width: 150px;
        height: 39px;
    }

    .nav-client-div-1000 {
        width: 150px;
        height: 39px;
    }

    .logo-img {
        width: 100%;
        object-fit: cover;
    }

    .inno-padd {
        padding: 3.8rem 0rem;
    }

    .inno-title {
        font-size: 1.6rem;
    }

    .inno-para {
        font-size: 0.9rem;
        line-height: 18px;
        padding: 0rem 0rem 1rem;
    }

    .inno-btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }

    .inno-frame-cont {
        width: 100%;
        height: 230px;
    }

    .cons-title-main {
        padding: 3.5rem 0rem 1rem;
    }

    .cons-title {
        font-size: 1.7rem;
        width: 100%;
        font-weight: 600;
    }

    .cons-con {
        font: 1rem;
    }

    .cons-title-para {
        line-height: 19px;
        font-size: 1rem;
    }

    .cons-title-main .col-11 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #cons-title-main {
        padding: 3.5rem 0rem 1rem;
    }

    #cons-title-main .col-11 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #customer {
        padding: 3rem 0rem 1.5rem;
    }

    .cust-title {
        font-size: 1.7rem;
        margin-bottom: 0rem;
    }

    .swiper-wrapper {
        width: 100% !important;
        height: 100% !important;
    }

    .swiper-img {
        width: 70% !important;
        height: 80% !important;
    }

    .swiper {
        height: 70% !important;
    }

    .swiper-tube {
        position: absolute;
        top: 44%;
        left: 40%;
    }

    #news {
        padding: 0rem 0rem;
    }

    .news-title {
        margin: 0rem 0rem 1rem 0rem;
        font-size: 1.7rem;
    }

    .foot-icon-div {
        column-gap: 10px;
    }

    .news-img {
        width: 300px;
        height: 110px;
        object-fit: contain;
    }

    .news-card-title {
        line-height: 20px;
    }

    .news-cal-img {
        width: 25px !important;
        height: 25px;
    }

    .news-line {
        padding: 0rem 0rem 0.3rem;
    }

    .news-card-para {
        line-height: 19px;
        margin-bottom: 0.3rem;
    }

    #footer {
        padding: 0.4rem 0rem 0rem;
    }

    .foot-icons {
        font-size: 1.5rem;
    }

    .foot-cont-address {
        line-height: 16px;
    }


    #footer .row.justify-content-center>.col-10 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .menu-1000-bg {
        padding: 4% 4% 0%;
    }

    .bg-1000-name {
        font-size: 1rem;
    }

    .bg-1000-ul1 {
        line-height: 22px;
    }

    .menu-cross {
        width: 30px;
        height: 30px;
        font-size: 0.4rem;
    }

    .bg-js-name {
        font-size: 0.7rem;
    }

    .menu-bg-js {
        line-height: 20px;
        padding-bottom: 0.4rem;
    }

    .foot-rights-main {
        padding: 0rem 2rem;
    }

    #footer .row {
        padding: 1rem;
    }
}


@media (max-width: 500px) {

    .caro-container {
        height: 200px;
    }

    #nav {
        height: 60px;
    }

    #nav .row .row {
        padding-top: 0.5rem;
    }

    #banner {
        padding-top: 4.4rem;
    }

    html {
        font-size: 13px;
    }

    .menu-1000-flex .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        display: inline-flex;
        justify-content: center;
    }

    .inno-padd {
        padding: 3rem 0rem;
    }

    .inno-title {
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }

    .inno-para {
        line-height: 16px;
    }

    .inno-frame-cont {
        width: 100%;
        height: 190px;
    }

    .cons-title-para {
        line-height: 18px;
    }

    .cons-title {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: center;
        margin: 0rem 0rem 0.3rem;
    }

    .cons-title br {
        display: none;
    }

    .cons-title-main .col-5 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .cons-title-main .col-7 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .cons-title-item .col-5 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .cons-title-item .col-7 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .cons-con {
        font-size: 0.9rem;
        text-align: center;
        margin-bottom: 0.7rem;
    }

    .cons-owl-img {
        width: 100%;
    }

    .cons-ul-con {
        margin: 0rem;
    }

    .cons-caro-main {
        width: 100% !important;
        height: 200px;
        overflow: hidden !important;
        padding: 0rem 0rem 0rem 2rem !important;
    }

    .cons-caro-main .item {
        width: 100% !important;
        height: 180px !important;
    }

    .cons-owl-img {
        width: 95% !important;
        height: 80% !important;
    }

    .owl-dots {
        margin: 0rem !important;
        position: absolute;
        bottom: 0%;
        right: 45%;
    }

    .owl-dot span {
        width: 8px !important;
        height: 8px !important;
        margin: 2px 5px !important;
    }

    .swiper-btn-prev {
        display: none;
    }

    .swiper-btn-next {
        display: none;
    }

    .swiper::before {
        display: none;
    }

    .swiper::after {
        display: none;
    }

    .swiper-tube {
        position: absolute;
        top: 44%;
        left: 42%;
    }

    .swiper-img {
        width: 73% !important;
        height: 87% !important;
    }

    .swiper-cross {
        width: 40px;
        height: 40px;
    }

    .swiper-cross>i {
        color: white;
        font-size: 1.6rem;
    }

    .news-owl .item {
        display: flex;
        justify-content: center !important;
    }

    .news-owl {
        height: 380px;
    }

    .news-card {
        width: 330px;
        padding: 2rem;
    }

    .news-img {
        width: 100% !important;
        object-fit: contain;
    }

    .news-card-para {
        line-height: 15px;
        margin-bottom: 0.8rem;
    }

    .news-card-con {
        padding: 1.3rem;
    }

    .swiper-overlay-item {
        width: 85%;
        height: 70%;
        text-align: center;
        justify-self: center;
    }

    .cust-title {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
    }

    .swiper {
        height: 60% !important;
    }

    .swiper-iframe {
        width: 450px;
        height: 460px;
    }

    .swiper-wrapper {
        margin-bottom: 15px;
    }

    .bg-1000-name {
        font-size: 1.2rem;
    }

    .bg-1000-ul1 {
        line-height: 26px;
    }

    .menu-cross {
        top: 1%;
        width: 25px;
        height: 25px;
    }

    .menu-cross>i {
        font-size: 0.9rem;
    }

    .bg-js-name {
        font-size: 0.9rem;
    }

    .menu-bg-js {
        line-height: 22px;
        padding-bottom: 0.1rem;
    }

    .nav-logo-div {
        width: 95%;
        height: 100%;
        padding: 0.72rem 0rem 0rem 0rem;
    }

    .nav-client-div-1000 {
        width: 90%;
        height: 90%;
        padding: 0.4rem 0rem 0rem 0rem;
    }

    .inno-padd .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-bottom: 2rem;
    }

    .cons-title-cells2 {
        border: none;
        padding: 0rem;
    }

    .swiper-slide-img {
        border-radius: 10px !important;
    }

    #footer {
        margin-top: 3rem;
    }

    #news {
        padding: 2rem 0rem;
    }

    .news-title {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .news-card-title {
        font-size: 1.2rem;
        line-height: 20px;
        margin-bottom: 0.8rem;
    }

    .news-line {
        margin-bottom: 1rem;
    }

    .news-card-btn-div {
        text-align: center;
    }

    .caro-change-ul {
        gap: 5px;
    }

    .caro-change-ul>li {
        width: 11px;
        height: 11px;
    }


    .inno-title br {
        display: none;
    }

    .nav-menu-1000 {
        padding: 0.8rem 0rem 0rem;
    }

    .foot-cont-address br {
        display: none;
    }

    .foot-rights-img {
        width: 90px;
    }

    /* contact us */

    .cont-form-title {
        font-size: 1.8rem;
    }

    .form-btn {
        padding: 0.5rem 3.2rem;
    }

    .box-img {
        width: 180px;
    }

    .box-title {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .box-con-one {
        line-height: 19px;
    }

    .box-con-two {
        line-height: 19px;
    }

    .iframe-img-one {
        height: 200px;
    }

    .iframe-img-two {
        height: 200px;
    }

    .map-comp-address {
        line-height: 22px;
        margin-bottom: 0.8rem;
    }

    .map-comp-cont {
        line-height: 22px;
    }

    #iframe-two {
        width: 100%;
        padding: 3.13rem 0rem 3.13rem;
    }

    .cont-box-main {
        padding: 1.5rem;
    }

    #cont-banner {
        padding: 4rem 0rem 3rem;
    }

}

@media (max-width: 400px) {


    .menu-bar {
        float: right;
    }

    .nav-menu-1000 {
        padding: 0.6rem 0rem 0rem;
    }

    #nav .ps-3 {
        padding-left: 6px !important;
    }

    #nav .pe-3 {
        padding-right: 0px !important;
    }



    #banner {
        padding-top: 4.6rem;
    }

    .nav-logo-div {
        width: 100%;
        height: 100%;
        padding: 0.61rem 0rem 0rem 0rem;
    }

    .nav-client-div-1000 {
        width: 90%;
        height: 90%;
        padding: 0.4rem 0rem 0rem 0rem;
    }

    .swiper-iframe {
        width: 380px;
        height: 440px;
    }

    .news-card {
        width: 290px;
        padding: 1.5rem;
    }

    .news-owl {
        height: 370px;
    }

    .foot-rights-img {
        width: 90px;
    }

    .swiper-overlay-item {
        width: 95%;
        height: 70%;
        text-align: center;
        justify-self: center;
    }

    .foot-cont-address {
        font-size: 0.8rem;
    }

    .foot-cont-address br {
        display: none;
    }

    .foot-rights-main {
        padding: 0rem;
    }


    /* contact us */

    .cont-form-title {
        font-size: 1.4rem;
    }

    .form-title-con {
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }

    .plant2-comp-address{
        font-size: 1.1rem;
        line-height: 20px;
    }

    .plant2-comp-cont{
        font-size: 1.1rem;
    }

    form .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 0.6rem;
    }

    form .col-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    label {
        float: left;
    }

    .box-img {
        width: 160px;
    }

    .box-title {
        font-size: 1.3rem;
        line-height: 17px;
    }

    .form-address {
        height: 50px;
    }

    .box-con-one {
        line-height: 17px;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
    }

    .box-con-two {
        line-height: 17px;
        font-size: 1.1rem;
    }

    .iframe-img-one {
        height: 100%;
    }

    .iframe-img-two {
        height: 100%;
    }

    .map-comp-title {
        font-size: 1.2rem;
    }

    .map-comp-name {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .map-comp-address {
        width: 80%;
        line-height: 22px;
        margin-bottom: 0.6rem;
        font-size: 1.1rem;
    }

    .map-comp-cont {
        line-height: 22px;
        font-size: 1.1rem;
        margin-bottom: 0rem;
    }

}

@media (max-width: 350px) {

    .nav-logo-div {
        width: 100%;
        height: 100%;
        padding: 0.73rem 0rem 0rem 0rem;
    }
}